<div class="page-border">
  <div class="page-header">
    <h1>New Item</h1>
  </div>
  <% if @item.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @item, url: admin_items_path, method: :post do |f| %>
    <%= f.label       :title %><br/>
    <%= f.text_field  :title %><br/>
    <%= f.label       :description %><br/>
    <%= f.text_field  :description %><br/>
    <%= f.label       :price %><br/>
    <%= f.text_field  :price %><br/>
    <%= f.label       :image %><br/>
    <%= f.file_field  :image %><br/>
    <div class="form-actions">
      <%= f.submit "Create Item", class: "btn btn-primary" %>
      <%= link_to 'Cancel', admin_items_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
</div>
