<div class="page-border">
  <div class="page-header">
    <h1><%= @item.title %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt><strong>Description:</strong></dt>
    <dd><%= @item.description %></dd>
    <dt><strong>Categories:</strong></dt>
    <dd><%= @item.display_categories %></dd>
    <dt><strong>Price:</strong></dt>
    <dd><%= @item.unit_price_dollars %></dd>
    <dt><strong>Image:</strong></dt>
    <dd><%= image_tag @item.image.url(:small) %></dd>
  </dl>

  <div class="form-actions">
    <%= link_to 'Edit',
      edit_admin_item_path(@item), :class => 'btn btn-primary' %>
    <%= link_to 'Delete', admin_item_path(@item),
      :method => 'delete',
      :data => { :confirm => 'Are you sure?' },
      :class => 'btn btn-danger' %>
  </div>
</div>
