<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="<%= 'active' if current_page?(admin_orders_path) %>">
    <%= link_to admin_orders_path do %>All <span class="badge"><%= Order.all.count %></span><% end %>
  </li>
  <li class="<%= 'active' if current_page?(admin_ordered_path) %>">
    <%= link_to admin_ordered_path do %>Ordered <span class="badge"><%= orders_by_status('ordered') %></span><% end %>
  </li>
  <li class="<%= 'active' if current_page?(admin_paid_path) %>">
    <%= link_to admin_paid_path do %>Paid <span class="badge"><%= orders_by_status('paid') %></span><% end %>
  </li>
  <li class="<%= 'active' if current_page?(admin_completed_path) %>">
    <%= link_to admin_completed_path do %>Completed <span class="badge"><%= orders_by_status('completed') %></span><% end %>
  </li>
  <li class="<%= 'active' if current_page?(admin_cancelled_path) %>">
    <%= link_to admin_cancelled_path do %>Cancelled <span class="badge"><%= orders_by_status('cancelled') %></span><% end %>
  </li>
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:customer) %></th>
      <th><%= model_class.human_attribute_name(:order_type) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:order_date) %></th>

    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to 'Details', admin_order_path(order) %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.order_type %></td>
        <td><%= order.status %></td>
        <td><%= order.total %></td>
        <td><%= order.format_date %></td>
        <% if pending?(order.status) %>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_admin_order_path(order), :class => 'btn btn-primary' %>
          </td>
          <td>
            <%= link_to t('.edit', :default => t(get_update_button(order.status))),
                        admin_order_update_status_path(order),
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-success' %>
          </td>
          <td>
            <%= link_to t('.edit', :default => t("Cancel")),
                        admin_order_cancel_path(order),
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        <% else %>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_order_path,
            :class => 'btn btn-primary' %>
