<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @order.user_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_address) %>:</strong></dt>
  <dd><%= @order.user_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:order_type) %>:</strong></dt>
  <dd><%= @order.order_type %></dd>
  <% if @order.delivery? %>
    <dt><strong><%= model_class.human_attribute_name(:address_id) %>:</strong></dt>
    <dd><%= @order.address %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:items) %>:</strong></dt>
  <% @order.order_items.each do |order_item| %>
    <dd><%= link_to order_item.item_title, admin_item_path(order_item.item) %> |
      Quantity: <%= order_item.quantity %> |
      Unit Price: <%= order_item.unit_price %> |
      Subtotal: <%= order_item.subtotal %><br/></dd>
  <% end %><br/>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @order.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @order.total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:submitted) %>:</strong></dt>
  <dd><%= format_date(@order.created_at) %> @ <%= format_time(@order.created_at) %></dd>
  <% if !@order.pending? %>
    <dt><strong><%= model_class.human_attribute_name(:updated) %>:</strong></dt>
    <dd><%= format_date(@order.updated_at) %> @ <%= format_time(@order.updated_at) %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_order_path(@order), :class => 'btn btn-primary' %>
  <% if @order.pending? %>
    <%= link_to t('.edit', :default => t("Cancel")),
                  admin_order_cancel_path(@order),
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
  <% end %>
</div>
