<div class="page-border">
	<h1>Account Settings</h1>

	<% @user.errors.full_messages.each do |m| %>
		<%= m %><br/>
	<% end %>

	<%= form_for(@user, method: :put) do |f| %>
		<br/><strong>Joined on:</strong> <%= @user.created_at %><br/><br/>
		<%= f.label 		     :first_name %><br/>
		<%= f.text_field     :first_name %><br/>
		<%= f.label 		     :last_name %><br/>
		<%= f.text_field     :last_name %><br/>
		<%= f.label 	       :nickname %><br/>
		<%= f.text_field     :nickname %><br/>
		<%= f.label 		     :email %><br/>
		<%= f.text_field     :email %><br/>
		<%= f.label 		     :password %><br/>
		<%= f.password_field :password %><br/>
		<%= f.label 		     :password_confirmation %><br/>
		<%= f.password_field :password_confirmation %><br/>
		<br/>
		<%= f.submit :class => 'btn btn-primary' %>
	<% end %>
</div>
