<h1>Your Info</h1>
	<br/><strong>Joined:</strong> <%= @user.format_date %><br/>
	<br/><strong>Name: </strong> <%= @user.first_name + ' ' + @user.last_name %><br/>
	<br/><strong>Nickname:</strong> <%= @user.nickname %><br/>
	<br/><strong>Email:</strong> <%= @user.email %><br/>
	<br/>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
