<h1>Account Settings</h1>
<%= simple_form_for @user do |f| %>
	<br/><strong>Joined on:</strong> <%= @user.created_at %><br/><br/>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :nickname %>
	<%= f.input :email %>
	<br/>
	<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
