<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to 'All', orders_path %></li>
  <li class="<%= 'active' if current_page?(ordered_path) %>"><%= link_to 'Ordered', ordered_path %></li>
  <li class="<%= 'active' if current_page?(paid_path) %>"><%= link_to 'Paid', paid_path %></li>
  <li class="<%= 'active' if current_page?(completed_path) %>"><%= link_to 'Completed', completed_path %></li>
  <li class="<%= 'active' if current_page?(cancelled_path) %>"><%= link_to 'Cancelled', cancelled_path %></li>
</ul>
<div>
  Ordered: <%= orders_by_status('ordered') %> |
  Paid: <%= orders_by_status('paid') %> |
  Completed: <%= orders_by_status('completed') %> |
  Cancelled: <%= orders_by_status('cancelled') %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:customer) %></th>
      <th><%= model_class.human_attribute_name(:order_type) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:order_date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.user_id %></td>
        <td><%= order.order_type %></td>
        <td><%= order.status %></td>
        <td><%= order.total %></td>
        <td><%= order.format_date %></td>
        <td>
          <% if pending?(order.status) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_order_path(order), :class => 'btn btn-mini' %>

            <%= link_to t('.edit', :default => t(get_update_button(order.status))),
                        order_update_status_path(order),
                        :class => 'btn btn-mini' %>
            <%= link_to t('.edit', :default => t("Cancel")),
                        order_cancel_path(order),
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
