<div class="page-border">
  <div class="page-header">
    <h1>My Orders</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Details</th>
        <th>Order Type</th>
        <th>Status</th>
        <th>Estimated Time</th>
        <th>Total</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to 'Details', order_path(order) %></td>
          <td><%= order.order_type %></td>
          <td><%= order.status %></td>
          <% if order.pickup? && order.pending? %>
            <td><%= order.current_wait_time %></td>
          <% else %><td></td>
          <% end %>
          <td><%= order.total_dollars %></td>
          <td><%= order.updated_date %></td>
          <td>
            <% if order.pending? %>
              <%= link_to 'Cancel', order_cancel_path(order),
                :data => { :confirm => 'Are you sure?' },
                :class => 'btn btn-mini btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
