<h1>Address CREATE!</h1>

<%= form_for @address do |f| %>
	<% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

	<%= f.label :street %>
	<%= f.text_field :street %>
	<%= f.label :unit %>
	<%= f.text_field :unit %>
	<%= f.label :city %>
	<%= f.text_field :city %>
	<%= f.label :state %>
	<%= f.text_field :state %>
	<%= f.label :zip %>
	<%= f.text_field :zip %>
	<%= f.submit 'Add Address'%>
<% end %>
