<h1>CATEGORIES!</h1>
	<% @categories.each do |category| %>
		<span class="category-name"><%= category.name %></span>
		<%= link_to "Edit", edit_category_path(category) %>
		<%= link_to "Delete", category_path(category), method: :delete %><br/>
		<div class="donuts transitions-enabled">
			<% category.items.each do |item| %>
				<div class="item-box">
					<div class="item-box-description">
						<strong><%= item.title %></strong><br/>
						<%= item.description %><br/>
					</div>
					<div class="item-price">
						<span class="only-price">
							<span class="only">only:</span> $<%= item.price %><br/>
						</span>
            <%= form_tag(cart_path, method: "put") do %>
              <%= hidden_field_tag :item_id, item.id %>
              <%= button_tag type: 'submit', class: 'btn btn-primary add-item' do %>
                <span class='glyphicon glyphicon-plus-sign'></span> Add to Cart
              <% end %>
            <% end %>
					</div>
					<%= image_tag item.image.url(:small), class: "item-image" %><br/>
					<!-- <div class="add-item-box">
						<a class="add-item-text" href="#">Add A New Donut!</a>
					</div> -->
				</div>
			<% end %>
		</div> <!-- /.donuts -->
	<% end %>

		<br/><br/>
	<%= button_to 'Add Category', new_category_path, method: :get %>
