<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a id="ele-logo" class="navbar-brand" href="/"><img src="http://www.clker.com/cliparts/f/U/g/9/G/B/cartoon-elephant-bw-hi.png" class="brand" height="35px" width="35px" /></a>
	      <a class="navbar-brand" href="/">Ivory Tower Donuts</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><%= link_to "Menu", categories_path %></li>
	        <li><%= link_to "My Orders", '#' %></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="active">
	        	<a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>
              View Cart <span class="badge"><%= cart_count %></span>
        		</a>
	        </li>
	        <% if current_user %>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Register", new_user_path %></li>
          <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</div><!-- /.container -->
</nav>
