<!DOCTYPE html>
<html>
<head>
  <title>GrubhubV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= render 'layouts/navbar' %>

	<div class="container">
		<div class="row">
			<div class="col-md-8"><%= yield %></div>
			<div class="col-md-4">
				<img src="https://files.slack.com/files-pri/T029P2S9M-F02G1S3P7/slack_for_ios_upload.png" style="padding-top: 45px" height="100%" width="100%"/>
				<h3 style="text-align: center">Ivory Tower Donut Shop</h3>
				<h4 style="text-align: center">You're probably not welcome here.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias deleniti, error nulla non porro, unde officiis. Blanditiis inventore facere eaque quisquam laborum magnam architecto nisi, placeat, perferendis tempora modi optio.</p>
			</div>
		</div>
	</div>

</body>
</html>
