<!DOCTYPE html>
<html>
<head>
  <title>Ivory Tower Donuts</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <% if is_admin? %>
		<%= render 'layouts/admin_navbar' %>
	<% else %>
		<%= render 'layouts/navbar' %>
	<% end %>

	<div class="container">
	  <% flash.each do |name, msg| %>
	    <%= content_tag :div, msg, :class => "alert flash #{name}" %>
	  <% end %>
  </div>

	<div class="container">
		<%= yield %>
	</div>

	<footer class="footer">
		<div class="container">
			<p>A <%= link_to "Turing.io", "http://www.turing.io", id: "turing-link" %> project.</p>
		</div>
	</footer>
</body>
</html>
