<div class="page-border">
  <div class="page-header">
    <h1>My Info</h1>
  </div>
  <dl class="dl-horizontal">
    <dt><strong>Glutton Since: </strong></dt>
    <dd><%= @user.created_date %></dd>
    <dt><strong>First name:</strong></dt>
    <dd><%= @user.first_name %></dd>
    <dt><strong>Last name:</strong></dt>
    <dd><%= @user.last_name %></dd>
    <% if @user.nickname %>
      <dt><strong>Nickname:</strong></dt>
      <dd><%= @user.nickname %></dd>
    <% end %>
    <dt><strong>Email:</strong></dt>
    <dd><%= @user.email %></dd>
  </dl>

  <%= link_to 'Edit', edit_account_path, class: 'btn btn-primary' %>
</div>
